html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: 0;
}
#navbar{
    position: fixed;

    z-index: 1;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(196, 44, 44);
}
#navbar nav{
    text-align: right;
    margin: 4vh 0;
    padding-right: 50px;
}
#navbar nav a{
    text-decoration: none;
    color: white;
    padding: 39px 4vw;

}
.links:hover{
    background-color: rgb(1, 1, 24);
}


#name{
    margin-top: 10vh;
    width:100vw;
    height: 100vh;
    background: linear-gradient(62deg, #353535 , #0e0d0d);
}
#name .about{
    text-align: center;
    margin: auto;
}
#name h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 35vh;
    font-size: 45px;
    font-weight: 600;
    color: white;
    
}
#name h3{
    font-size: 45px;
    font-weight:100;
    font-style: oblique;
    color: rgb(196, 44, 44);
}
#projects-section{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(62deg,rgb(52, 68, 218) ,rgb(15, 22, 73)) ;
}
#projects-section #projects{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}
#projects-section #title{
    text-align: center;
    margin: auto;
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 400px;
    border-bottom: solid white;
    color: white;
}

#projects .project{
    display: flex;
    margin: auto;
    width: 250px;
    background-color: #040c3d;
    border-radius: 10px;
    padding-bottom: 50px;
}
#projects a{
    text-decoration: none;
    width: 250px;
    height: 150px;
}

#projects img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 250px;
    height: 150px;
}
.describe{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;

    transition: color 300ms ease-in;
}
#contact-page{
    background-color: rgb(1, 1, 24) ;
}
#contact-section{
    height: 100vh;
    background: linear-gradient(75deg, black, grey);
}
#name-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
#form-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#form-section form label{
    align-self: flex-start;
    font-size: 20px;
    color: rgb(195, 196, 206);
}
#form-section form input{
    height: 25px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 0px;
    width: 100%;
}

#message{
    height: 100px;
}
#button button{
    border-radius: 5px;
    border: 0;
    margin: 5px 20px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    font-size: 15px;
}

#about-page{
    background-color: rgb(1, 1, 24) ;
}
#info-section{
    height: 100%;
    background: linear-gradient(75deg, rgb(27, 27, 27), grey);
    color: rgb(194, 184, 184);

}

#info nav{
    position: fixed;
    background-color: rgb(27, 27, 27);
    width: 130px;
    height: 100vh;
    padding-top: 100px;
}
#info nav ul{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-inline-start: 10px;
}
#info nav ul li{
    list-style-type: none;
}
#info nav ul li a{

    text-decoration: none;
    color: white;
}

.sections{
    padding-left: 140px;
    padding-right: 80px;
    text-align: justify;
    width: 70%
}

.sections h1{
    text-align: center;
}

#education{
    padding-top: 100px;
    
}
#job ul li{
    font-weight: bold;
}
#job ul p{
    padding-left: 20px;
}
#skills ul .main-skill{
    font-weight: bold;
}
#skills ul .skill{
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 15px;
}
#referances a{
    text-decoration: none;
}

#referances a:visited{
    color: white;
}